<%- include('include/header.ejs') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="/admin/add-product" method="POST" class="mt-5">
                    <div class="mb-3">
                        <label class="form-label">Product Title</label>
                        <input type="text" class="form-control" id="product-title" name="productTitle">
                        <div class="form-text">Card Title for the product</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Description</label>
                        <input type="text" class="form-control" id="product-description" name="productDescription">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Size</label>
                        <input type="text" class="form-control" id="product-size" name="productSize">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Price</label>
                        <input type="text" class="form-control" id="product-price" name="productPrice">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Image</label>
                        <input type="text" class="form-control" id="product-price" name="productImage">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
