<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Owl Carousel Min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title><%= pageTitle %></title>
</head>
<body>
    <header style="background: linear-gradient(to right, #d31027, #ea384d); padding: 7px; color: white;">
        <div class="container">
            <h2>Navbar</h2>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="/admin/add-product" method="POST" class="mt-5">
                    <div class="mb-3">
                        <label class="form-label">Top Product Image</label>
                        <input type="text" class="form-control" id="product-title" name="imageURL">
                        <div class="form-text">Add Top Product Image</div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>